<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@<%=post.username%></title>
</head>
<body>
    <h2>Hii @<%=post.username%>! You are about to edit your post</h2>
    <form method = "post" action = "/posts/<%=post.id%>?_method=PATCH">
        <textarea name = "content" rows = "10" cols = "30"><%=post.content%></textarea><br><br>
        <button>Edit</button>
    </form>
</body>
</html>