body {
    text-align : center;
}

h1 {
    color : maroon;
}

.post {
    height : 150px;
    width : 300px;
    background-color : wheat;
    border : 1px solid black;
    padding : 5px;
    margin : 0 auto;
    margin-bottom : 10px;
}

#username {
    font-style : italic;
}

.options {
    background-color : maroon;
    color : white;
    border-radius : 0.75rem;
    margin-left : 10px;
    border : 1px solid black;
}

form {
    margin-left : 10px;
    display : inline;
}
